body {
    background: url(../img/food.png) repeat 0 0;
}

header {
	background-color: #1e1e1e;
}

header .container {
	width: 75%;
}

hr {
	width: 80%;
	color: #a9a9a9;
	border-color: #a9a9a9;
	background-color: #a9a9a9;
}

.container {
	padding-top: 10px;
	padding-bottom: 5px;
}

img {
	max-width: 100%;
}

footer {
	background-color: #1e1e1e;
}