<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Very Warm Memes</title>

    <link rel="icon" href="../static/img/parrot.gif" type="image/gif" >

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/bootstrap.min.css')}}">

    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">

  </head>

  <body id="page-top">

    <header class="text-white">
      <div class="container text-center">
        <h1>Welcome to Memes</h1>
        <p class="lead">A social commentary on the cultural divide between those who were raised on the patriarchal expectations of normies and those who were given the lifestyle of a dank memer.</p>
      </div>
    </header>

    {% for dat in data %}
    	<div class="container">
    		<div class="row">
    			<div class="col-lg-8 mx-auto">
            <h5>{{dat[1]}}</h5>
    				Published: {{dat[0]}}<br />
    				Hotness Score: {{dat[2]}}<br/>
            <a href="{{dat[3]}}" target="_blank">Original post</a><br/>
    				<img src="{{dat[4]}}">
    			</div>
    		</div>
    	</div>
      <hr />
    {% endfor %}

    <!-- Footer -->
    <footer class="py-5">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright 2018 Leafwing & Penguinzz</p>
      </div>
      <!-- /.container -->
    </footer>

  </body>

</html>